<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441028120043-e1bbfbfpd7av3e72aehs5giaid424ngg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441028120043-e1bbfbfpd7av3e72aehs5giaid424ngg</string>
	<key>API_KEY</key>
	<string>AIzaSyCb7l4LhLgoPpozpZjdTd7y0Eitl11bVdM</string>
	<key>GCM_SENDER_ID</key>
	<string>441028120043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>awerar.meetboard</string>
	<key>PROJECT_ID</key>
	<string>meetboard-f6f65</string>
	<key>STORAGE_BUCKET</key>
	<string>meetboard-f6f65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441028120043:ios:33d3188fdf5d9219ee1dae</string>
	<key>DATABASE_URL</key>
	<string>https://meetboard-f6f65.firebaseio.com</string>
</dict>
</plist>